body {
  box-sizing: border-box;
  background-image: url("./21omxpw.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  top: -130px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  color: grey;
}

.slider-img {
  width: 90%;
  max-width: 120em;
  overflow: hidden;
  box-shadow: 1px 1px 14px 15px rgba(0, 0, 0, 0.82);
}

.big {
  padding: 15px;
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(7%);
}

.card {
  background-color: black;
  color: white;
  width: calc(100% / 3 - 2 em);
  box-shadow: 1px 1px 14px 15px rgba(0, 0, 0, 0.82);
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.text1 {
  font-size: 1.5rem;
  padding: 35px;
}
.text2 {
  font-size: 1.2rem;
  margin-top: 0;
}

.img {
  background-image: url(./img/buda.jpg);
  background-position: center;
  width: 180px;
  height: 200px;
}
.img2 {
  background-image: url(./img/caesar.jpg);
  background-position: center;
  width: 180px;
  height: 200px;
}

.img3 {
  background-image: url(./img/5752.jpeg);
  background-position: center;
    max-width:100%;
    height:auto;
}

.footer {
  background-color: darkgoldenrod;
  height: 30px;
}
